---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_USER_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4078'
      X-Ratelimit-Reset:
      - '1494837126'
      Etag:
      - W/"5b883f88c8704412307b49083fbcfdf9"
      Last-Modified:
      - Sun, 14 May 2017 05:02:18 GMT
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_KEY>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"VictoriaVasys","id":10079657,"avatar_url":"https://avatars3.githubusercontent.com/u/10079657?v=3","gravatar_id":"","url":"https://api.github.com/users/VictoriaVasys","html_url":"https://github.com/VictoriaVasys","followers_url":"https://api.github.com/users/VictoriaVasys/followers","following_url":"https://api.github.com/users/VictoriaVasys/following{/other_user}","gists_url":"https://api.github.com/users/VictoriaVasys/gists{/gist_id}","starred_url":"https://api.github.com/users/VictoriaVasys/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/VictoriaVasys/subscriptions","organizations_url":"https://api.github.com/users/VictoriaVasys/orgs","repos_url":"https://api.github.com/users/VictoriaVasys/repos","events_url":"https://api.github.com/users/VictoriaVasys/events{/privacy}","received_events_url":"https://api.github.com/users/VictoriaVasys/received_events","type":"User","site_admin":false,"name":"Victoria
        Vasys","company":"@turingschool","blog":"","location":"Denver, CO","email":"victoria.vasys@gmail.com","hireable":true,"bio":"I''m
        a student in the Back-End Engineering Program at Turing School of Software
        & Design.","public_repos":35,"public_gists":12,"followers":2,"following":33,"created_at":"2014-12-04T21:03:00Z","updated_at":"2017-05-14T05:02:18Z"}'
  recorded_at: Mon, 15 May 2017 07:48:15 GMT
recorded_with: VCR 3.0.3
